<h1>Checkout</h1>

<form class="form-horizontal" role="form" ng-submit="createOrder(data)">

        <div class="row box">
          <div class="col-md-6">
            <h3>Billing Address</h3>
            <div class="billing-address">
              <div class="form-group" ng-repeat="field in fields" ng-if="field.slug != 'customer'" >
                <label class="col-md-4 control-label" for="bill_{{ field.slug }}">{{ field.name }}<span class="required" ng-if="field.required">*</span></label>
                <div class="col-md-8" ng-switch on="field.type">
                  <select name="bill_{{ field.slug }}" class="form-control" ng-options="k as v for (k, v) in field.available" ng-model="data.bill[field.slug]" ng-switch-when="country"></select>
                  <input type="text" id="bill_{{ field.slug }}" ng-model="data.bill[field.slug]" class="form-control" placeholder="{{ field.name }}" ng-switch-default />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="shiptobilling clearfix">
              <h3>Shipping Address</h3>
              <label class="checkbox">
                <input type="checkbox" value="1" ng-model="data.ship_bill" onclick="jQuery('.shipping-address').toggle()" />Ship to billing address?
              </label>
            </div>
            <div class="shipping-address" style="display: block">
              <div class="form-group" ng-repeat="field in fields" ng-if="field.slug != 'customer'" >
                <label class="col-md-4 control-label" for="ship_{{ field.slug }}">{{ field.name }} <span class="required" ng-if="field.required">*</span></label>
                <div class="col-md-8" ng-switch on="field.type">
                  <select name="ship_{{ field.slug }}" class="form-control" ng-options="k as v for (k, v) in field.available" ng-model="data.ship[field.slug]" ng-switch-when="country"></select>
                  <input type="text" id="ship_{{ field.slug }}" ng-model="data.ship[field.slug]" class="form-control" placeholder="{{ field.name }}" ng-switch-default />
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-md-12">
          <div class="your_order">
            <h3>Your Order</h3>
            <table class="table table-bordered table-responsive">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Qty</th>
                  <th>Totals</th>
                </tr>
              </thead>
              <tfoot>
                <tr class="subtotal">
                  <td></td>
                  <td><b>Cart Subtotal</b></td>
                  <td>{{ cart.totals.formatted.without_tax }}</td>
                </tr>
                <tr class="subtotal">
                  <td></td>
                  <td><b>Order Total</b></td>
                  <td>{{ cart.totals.formatted.with_tax }}</td>
                </tr>
              </tfoot>
              <tbody>
                <tr ng-repeat="(key,product) in cart.contents">
                  <td><a href="#/product/{{ product.id }}">{{ product.title }}</a></td>
                  <td>{{ product.quantity }}</td>
                  <td>{{ product.totals.formatted.with_tax }}</td>
                </tr>
              </tbody>
            </table>
            <div class="row" style="margin-bottom: 20px" ng-if="options.shipping.methods.length">
              <h3>Shipping</h3>
              <div class="row box">
                <div class="carrier" ng-repeat="carrier in options.shipping.methods">
                  <label class="radio">
                    <input type="radio" name="carrier" value="{{ carrier.slug }}" ng-model="data.shipping" checked="checked" />
                    {{ carrier.name }}
                  </label>
                  <div class="carrier-{{ carrier.slug }}">
                    {{ carrier.description }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Payment</h3>
        </div>
        <div class="col-md-4" ng-repeat="gateway in options.gateways">
          <div class="box padding">
            <label class="radio">
              <input type="radio" name="gateway" value="{{ gateway.slug }}" ng-model="data.gateway" checked="checked" />
              Credit Card
            </label>
          </div>
        </div>
      </div>

      <button class="btn btn-primary pull-right" type="submit" style="margin: 20px 0">Proceed to Payment</button>
    </form>
