<h1>{{ product.title }}</h1>

<div class="row">
  <div class="col-sm-6">
    <a ng-href="#/product/{{product.id}}">
      <img src="{{product.images[0].url.http}}" alt="{{product.title}}" width="100%"/>
    </a>
  </div>
  <div class="col-sm-6">
    <strong>{{ product.pricing.formatted.without_tax }}</strong>

    <button ng-if="!addStatus" ng-click="addCart()" class="btn btn-success">Add to Cart</button>
    <button ng-if="addStatus" class="btn btn-warning">{{addStatus}}</button>

    <div ng-bind-html="product.description"></div>
  </div>
</div>
